body {
   display: flex;
   flex-direction: column;
   min-width: 375px;
}

header {
   flex: 56px;
}

main {
   flex: 1 calc(100vh - 86px);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background-color: #EFE6DD;
}

footer {
   flex: 0 30px;
   background-color: #231F20;
}

footer div {
   background-color: #231F20;
}

footer a {
   float: right;
}

nav {
   background-color: #231F20;
}

.navbar-brand {
   padding-left: 0.3em;
}

#login {
   background-color: #231F20;
   border-radius: 10px;
   height: 400px;
   width: 400px;
}

.grid-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   background-color: #231F20;
   border-radius: 10px;
   height: 475px;
   width: 475px;
}

.color-selector {
   display: inline;
   width: 25px;
   height: 25px;
   border-radius: 100%;
   border: 0px;
}

#red-btn {
   background-color: red;
}

#orange-btn {
   background-color: orange;
}

#yellow-btn {
   background-color: yellow;
}

#green-btn {
   background-color: green;
}

#blue-btn {
   background-color: blue;
}

#purple-btn {
   background-color: purple;
}

#pink-btn {
   background-color: pink;
}

#brown-btn {
   background-color: brown;
}

#black-btn {
   background-color: black;
}

#grid {
   background-color: white;
}

#details {
   text-align: center;
}

.art-display {
   display: inline;
   background-color: #231F20;
   width: 200px;
   height: 300px;
}

td {
   border: 2px solid #231F20 !important;
   width: 30px;
   height: 30px;
}

#welcome {
   padding-top: 0.5em;
}

#title:hover {
   animation: color-change 3s linear 0s infinite;
}


@media (max-height: 600px) {
   header {
     display: none;
   }
   footer {
     display: none;
   }
   main {
     flex: 1 100vh;
   }
 }

 @keyframes color-change {
   from { text: rgb(248, 249, 250); }
   12.5% { color: red; }
   25% { color: orange; }
   37.5% { color: yellow; }
   50% { color: green; }
   62.5% { color: blue; }
   75% { color: purple; }
   87.5% { color: pink; }
   to { color: rgb(248, 249, 250); }
 }